<!-- App Bottom Menu -->
<div class="appBottomMenu">
	<div class="item {% if page.menu != "ticket" and page.menu != "notif" and page.menu != "eo"   %} active {%endif%}">
		<a href="index.html">
			<p>
				<i class="icon ion-ios-home"></i>
				<span>Home</span>
			</p>
		</a>
	</div>
	<div class="item {% if page.menu == "ticket" %} active {%endif%}">
		<a href="ticket.html">
			<p>
				<i class="icon fas fa-ticket-alt"></i>
				<span>Tickets</span>
			</p>
		</a>
	</div>
	<div class="item {% if page.menu == "eo" %} active {%endif%}">
		<a href="eo.html">
			<p>
				<i class="icon ion-ios-create"></i>
				<span>EO</span>
			</p>
		</a>
	</div>
	<div class="item {% if page.menu == "notif" %} active {%endif%}">
		<a href="notif.html">
			<p>
				<i class="icon ion-ios-notifications"></i>
				<span>Notifications</span>
			</p>
		</a>
	</div>
</div>
<!-- * App Bottom Menu -->