<!-- Sidebar Menu -->
<div class="sidebarWrapper">
	<div class="overlay toggleSidebar"></div>
	<nav class="sidebar">
		<div class="profilebox">
			<img src="assets/img/avatar.jpg" alt="avatar" class="avatar">
			<h2 class="title">Hanny Maria</h2>
			<h5 class="lead">
				<i class="icon ion-ios-pin mr-1"></i>
				Serang, Banten
			</h5>
		</div>
		<div class="sidebarGroup">
			<ul class="sidebarMenu">
				<li>
					<a href="chat.html">
						<i class="icon ion-ios-chatboxes"></i>
						Chat
						<span class="badge badge-danger">3</span>
					</a>
				</li>
				<li>
					<a href="my-event.html">
						<i class="icon ion-md-calendar"></i>
						My Event
					</a>
				</li>
				<li>
					<a href="certificate.html">
						<i class="icon ion-ios-ribbon"></i>
						Certificate
					</a>
				</li>
				<li>
					<a href="wishlist.html">
						<i class="icon ion-ios-bookmark "></i>
						Wishlist <span class="badge badge-danger">2</span>
					</a>
				</li>
				<li>
					<a href="profile.html">
						<i class="icon ion-ios-person"></i>
						Profile
					</a>
				</li>
				<li>
					<a href="login.html">
						<i class="icon ion-md-log-out"></i>
						Logout
					</a>
				</li>
			</ul>
		</div>
		<div class="sidebarGroup sidebarGroupBottom">
			<hr>
			<ul class="sidebarMenu">
				<li><center><p>{{ site.title }} {{ site.version }}</p></center></li>
			</ul>
		</div>

	</nav>
</div>
<!-- * Sidebar Menu -->